<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Demo_ChineseToPinYin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>19FF1EAC1D758D6500E62B0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>19FF1EC51D758D6500E62B0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>19FF1ED01D758D6500E62B0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
